*{
  text-align: center;
  color: white;
}
a{
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Sacramento', cursive;
  text-shadow: 10px 6px 5px rgb(0, 0, 0);

}
h2{
  font-family: 'Montserrat', sans-serif;
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: rgb(24, 154, 180, 0.9);
  box-shadow: 10px 10px 15px rgba(225, 225, 225, 0.9);
}
.fixed-nav a{
  width: 33%;
}
.fixed-nav a:hover{
  width: 35%;
  background: rgb(24, 154, 180);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}

.page-title h1{
      font-size: 6rem;
}

.About-me{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}


.About-me .section-Header{
    width: 30%;
}

.About-me .section-Header .headshot{
  border-radius: 100px;
  box-shadow: 15px 15px 10px rgb(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.About-me .bio{
  width: 70%;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
  padding-top: 2%;
}

.About-me .bio p{
  font-family: 'Montserrat', sans-serif;
   padding: 5% 5% 5% 5%;
   font-size: 1.4rem;
   text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.Projects{
  background: rgb(25, 154, 180, 0.4);
  margin: 0 2% 0 2%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.Projects h1{
  display: inline;
  font-size: 5rem;
  margin-left:1%;
}
.Projects .title img{
  box-shadow: 15px 6px 5px rgb(0, 0, 0, 0.6);
}
.Projects .title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Projects .project-showcase{
  width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.Projects .project-showcase .project-card{
  display: flex;
  width: 97%;
  background: rgb(20, 154, 180, 0.9);
  box-shadow: 15px 6px 5px rgb(0, 0, 0, 0.7);
  margin-bottom: 10px;
  align-items: center;
}

.Projects .project-showcase .project-card h2{
  font-family: 'Montserrat', sans-serif;
  padding-left: 4%;
}
.Projects .project-showcase .project-card .description{
  padding-left: 2%;
  padding-right: 2%;
}
.Projects .project-showcase .project-card .description p{
  font-family: 'Montserrat', sans-serif;
}
.Projects .project-showcase .project-card:hover{
   box-shadow: 15px 6px 5px rgb(0, 0, 0, 0.4);
   transform: scale(1.06, 1.06);
}
